<div class="nav">
    <a href="/">
        <h3>Welkom <% user.forEach(user =>{ %>
            <%= user.name %></h3>
        <% }) %>
    </a>
    <a href="/">Games library</a>
    <a href="/mygames">My games</a>

    
</div>