<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head');%> 
 
<body>

  <div class="container">
    <div class="card">
      <div class="box">
        <!-- <img src="img/genshin.jpeg" alt="Genshin impact" > -->
       
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <img src="img/fortnite.jpeg" alt="fornite" >
        
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <img src="img/lostark.jpeg" alt="lostark" >
      </div>
    </div>

    <div class="card">
      <div class="box">
        <img src="img/league.png" alt="league" >
      </div>
    </div>


    <div class="card">
      <div class="box">
        <img src="img/lostark.jpeg" alt="lostark" >
      </div>
    </div>

    <div class="card">
      <div class="box">
        <img src="img/league.png" alt="league" >
      </div>
    </div>

  </div>

 

   
</body>
</html>