<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head');%> 
 
<body>
 

<main>

  
  <% games.forEach(function(game){ %>
    <section>
        <img src="<%= game.img %>" alt="Genshin impact" >
        <h2><%= game.name %></h2>
        <h3><%= game.platform %></h3>
        <button>Add</button>
        
    </section>
    <% }) %>

  
  
    


</main>


  <script src="script.js"></script>
  

</body>
</html>