* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --background-color: #232427;
  --navbar-color: #333;
  --white-color: #f2f2f2;
  --hover-color: #7c71df;
  --darkblue: rgba(9, 9, 121, 1);
  --lightblue: rgba(0, 121, 255, 1);
}

body {
  min-height: 100vh;
  background: var(--background-color);
}

/*********************/
/* navbar */
/*********************/

.nav {
  background-color: var(--navbar-color);
  padding: 1.5em;
  display: flex;
  margin-right: auto;
  justify-content: flex-end;
}

.nav a {
  color: var(--white-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:first-of-type {
  margin-right: auto;
}

.nav a:hover {
  color: var(--hover-color);
}

main {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*********************/
/* cards */
/*********************/

main section {
  width: 300px;
  margin: 1em;
  border-radius: 10px;
  background-color: var(--white-color);
  overflow: hidden;

  text-align: center;
}

main section:hover {
  transform: scale(1.07);
  transition: 0.4s;
}

main section img {
  width: 100%;

  margin-bottom: 0.5em;
}

main section h2 {
  margin: 0.5em;
}

main section h3 {
  margin: 0.5em;
  font-weight: 400;
}

/*********************/
/* Gradient buttons */
/*********************/

main section button {
  background: linear-gradient(90deg, var(--darkblue) 0%, var(--lightblue) 100%);
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  font-size: 16px;
  margin: 1.5em;
}

main section button:hover {
  background: linear-gradient(90deg, var(--lightblue) 0%, var(--darkblue) 0%);
}

main section button:hover {
  cursor: pointer;
}

/*********************/
/* Intersection Observer classes */
/*********************/

.card-item {
  transform: translateY(2em);
  transition: 0.4s ease-in;
}

.hide {
  opacity: 0;
}

.slide-top {
  opacity: 1;
  transform: translateY(0);
}

/*********************/
/* Carousel slideshow*/
/*********************/

.carousel {
  overflow: hidden;
  height: 540px;
  width: 100%;
  margin: 0 auto;
}

.slide-wrapper {
  width: 10000px;
  height: 600px;
  
}
.slide {
  float: left;
  width: 728px;
}

.slide-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0px;
  }
  5% {
    margin-left: 0px;
  }
  10% {
    margin-left: -728px;
  }
  15% {
    margin-left: -728px;
  }
  20% {
    margin-left: -1456px;
  }
  25% {
    margin-left: -1456px;
  }
  30% {
    margin-left: -2184px;
  }
  35% {
    margin-left: -2184px;
  }
  40% {
    margin-left: -2912px;
  }
  45% {
    margin-left: -2912px;
  }
  50% {
    margin-left: -3640px;
  }
  55% {
    margin-left: -3640px;
  }
  60% {
    margin-left: -4368px;
  }
  65% {
    margin-left: -4368px;
  }
  70% {
    margin-left: -5096px;
  }
  75% {
    margin-left: -5096px;
  }
  80% {
    margin-left: -5824px;
  }
  85% {
    margin-left: -5824px;
  }
  90% {
    margin-left: -6606px;
  }
  95% {
    margin-left: -6606px;
  }
  100% {
    margin-left: -7334;
  }
}

/*********************/
/* Accessiblity reduce motion*/
/*********************/

@media (prefers-reduced-motion) {
  .slide-wrapper {
    animation: none;
  }

  .card-item {
    transform: translateY(0);
    transition: 0.4s ease-in;
  }
  
  .hide {
    opacity: 1;
  }
  
  .slide-top {
    opacity: 1;
    transform: translateY(0);
  }
}



