* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #232427;
}

.nav {
  background-color: #333;
  padding: 1.5em;
  display: flex;
  margin-right: auto;
  justify-content: flex-end;
}
.nav a:first-of-type {
  margin-right: auto;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  color: #7c71df;
}

main {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main section {
  width: 300px;
  margin: 1em;
  border-radius: 10px;
  background-color: aliceblue;
  overflow: hidden;
  transition: transform 0.4s;
  text-align: center;
}

main section:hover {
  transform: scale(1.1);
}

main section img {
  width: 100%;

  margin-bottom: 0.5em;
}

main section h2 {
  margin: 0.5em;
}

main section h3 {
  margin: 0.5em;

  font-weight: 400;
}
main section button {
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 121, 255, 1) 100%
  );
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  font-size: 16px;
  margin: 1.5em;
}

main section button:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 121, 255, 1) 0%,
    rgba(9, 9, 121, 1) 0%
  );
}

main section button:hover {
  cursor: pointer;
}
